 <html xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:layout name="Standard" />
    <f:section name="Content">
        <f:render partial="Header.html" section="list" arguments="{_all}" />
        <main id="content" role="main" class="oneColumn">
    		<div class="overlay"></div> 
    	    <f:format.raw>{media}</f:format.raw>
	            <div class="row">
                   <f:if condition="{breadcrumb} != '1'">
                      <div class="{breadcrumbwrap}">
                           <f:render partial="SpecialMenu/BreadcrumbMenu" arguments="{_all}"/>
                      </div>
                   </f:if>
                    <f:if condition="{data.deltitle} != '1'">
                        <f:if condition="{data.showtitle} == 0">
                            <f:then>
                                <div class="col-12 container">
                                    <f:format.raw><h1>{title}</h1></f:format.raw>
                                </div>
                             </f:then> 
                            <f:else>
                                <div class="unvisible"><f:format.raw><h1>{title}</h1></f:format.raw></div>  
                             </f:else> 
                        </f:if>
                    </f:if>
                   
                    <div class="col-12 content">
                        <!--TYPO3SEARCH_begin--> 
                        	<f:format.raw>{content}</f:format.raw>
                        <!--TYPO3SEARCH_end--> 	
                    </div>
                </div>
            </div>
            <f:if condition="{data.previousnext}">
            	<f:cObject typoscriptObjectPath="lib.navigation.prevnext" />
            </f:if>            
        </main>
     </f:section>
</html>
